:root {
  --headings-color: navy;
  --bkg-color-opacity: rgba(255, 255, 255, 0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Castoro', serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.background-image {
  background-image: url('images/sun-smiling-house.png');
  background-size: cover;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.greeting {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--headings-color);
}

.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bkg-color-opacity);
  width: 250px;
  height: 75px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--headings-color);
}

.alphabet-list {
  display: none;
}

.categories {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 90%;
  background-color: var(--bkg-color-opacity);
  border-radius: 5px;
}

.instructions-text {
  color: var(--headings-color);
  margin-bottom: 15px;
}

.pick-category li, .new-game-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  padding: 10px;
  margin: 15px;
  background-color: lightblue;
  color: darkblue;
  border: 1px solid darkblue;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.new-game-btn {
  font-size: 22px;
}

.list-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; 
}

.list-items li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  width: 35px;
  height: 35px;
  padding: 5px;
  margin: 5px;
  border: 1px solid darkblue;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bolder;
  color: darkred;
}

.new-game {
  display: none;
}

.text-panel {
  display: none;
}
