:root {
  --main-text-color: navy;
  --bkg-color-opacity: rgba(255, 255, 255, 0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Castoro', serif;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.home-container {
  justify-content: flex-end;
}

.game-container {
  justify-content: center;
}

.background-image {
  background-image: url('images/sun-smiling-house.png');
  background-size: cover;
}

.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bkg-color-opacity);
  width: 250px;
  height: 75px;
  padding: 10px;
  margin: 10px 10px 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
}

.play-button a {
  text-decoration: none;
  color: var(--main-text-color);
}

.categories {
  display: flex;
  justify-content: center;
}

.game-page {
  display: none;
  justify-content: space-evenly;
}

.categories, .game-page {
  align-items: center;
  flex-direction: column;
  width: 95%;
  height: 95%;
  margin: 10px;
  padding: 10px;
  background-color: var(--bkg-color-opacity);
  border-radius: 5px;
}

.instructions-text {
  color: var(--main-text-color);
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 20px;
}

.pick-category li, .new-game-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  padding: 10px;
  margin: 10px;
  background-color: lightblue;
  color: darkblue;
  border: 1px solid darkblue;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.new-game-btn {
  font-size: 20px;
}

.text-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.word-to-guess {
  letter-spacing: 10px;
}

.alphabet-list-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; 
}

.alphabet-list-items li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
  width: 45px;
  height: 45px;
  padding: 5px;
  margin: 5px;
  border: 1px solid darkblue;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bolder;
  color: darkred;
}

.you-win {
  display: none;
  letter-spacing: 0;
}

.word-guessed {
  color: red;
  letter-spacing: 1px;
}

.party-emoticons {
  visibility: hidden;
  margin-top: 5px;
}


/* MEDIA QUERIES */
@media screen and (min-width: 320px) {
  .container {
    height: calc(var(--vh, 1vh) * 100);
  }
}

@media screen and (min-width: 576px) {
  .container {
    height: 100vh;
  }

  .categories, .game-page {
    width: 75%;
  }

  .alphabet-list {
    width: 85%;
  }

  .new-game-btn, .text-panel, .instructions-text {
    font-size: 22px;
  }
}

@media screen and (min-width: 768px) {
  .categories, .game-page {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .alphabet-list-items li {
    width: 55px;
    height: 55px;
  }
}

@media screen and (min-width: 1024px) {
  .new-game-btn, .text-panel, .instructions-text {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .alphabet-list-items li {
    width: 75px;
    height: 75px;
  }

  .alphabet-list-items li:hover {
    background-color: #808080;
    color: #fff;
  }
}
